<b>Proposal {{departure_date}} - {{arrival_date}} ({{duration}})</b>
<b>Prices</b>
{{#proposals}}
+ {{amount}} {{currency}} ({{type}})
{{/proposals}}
<b>Trains</b>
{{#segments}}
+ {{transporter}} {{train_number}} from {{departure_station}} to {{arrival_station}}
  {{departure_date}} - {{arrival_date}} ({{duration}})
{{/segments}}
