<b>Proposal {{departure_date}} - {{arrival_date}}</b>
<b>Prices</b>
{{#prices}}
+ {{amount}} {{currency}} ({{type}}) [{{seats}} remaining seats]
{{/prices}}
<b>Trains</b>
{{#segments}}
+ {{transporter}} {{train_number}} from {{origin_station}} to {{destination_station}}
  {{departure_date}} - {{arrival_date}}
{{/segments}}